body{
    background: url('22.jpg')no-repeat center center fixed;
    background-size:cover;

}
h1
{
    background-color: black;
}
h5{
    background-color: black;  
    position: fixed;
    bottom: 0;
}